body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 5px;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 45px;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.little-image {
    height: 150px;
    width: 200px;
    border: solid black 2px;
    border-radius: 5px;
    margin: 10px;
    object-fit: cover;
}

.big-image {
    height: 400px;
    width: 600px;
    border: solid black 2px;
    border-radius: 5px;
    margin: 10px;
    object-fit: cover;
}

.button {
    height: 50px;
    width: 140px;
    font-size: 20px;
    border: solid black 1px;
    background-color: lightblue;
    border-radius: 15px;
}

.big-button {
    width: 120px;
    height: 35px;
    background-color: lightgreen;
    border: solid black 1px;
    border-radius: 15px;
    font-size:small;
    margin-top: 10px;
}

.small-button {
    width: 140px;
    height: 30px;
    background-color: lightcoral;
    border: solid black 1px;
    border-radius: 15px;
    font-size: 12px;
    margin-top: 10px;
}

.small-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-file-container {
    border: 1px solid black;
    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 20px;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-evenly;
}
